In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Iraqi_tourism_places.csv",error_bad_lines=False)
df.head()

b'Skipping line 234: expected 1 fields, saw 10\n'

  ID;City;Place names;Place names;Latitude;Longitude;A;C;E;H;N;R;SP;S   H;B;L
0  1;Baghdad;Kadhimiya kindergarten;������ ������...
1  2;Baghdad;the aquatic city;������� �������;33....
2  3;Baghdad;Mosque and shrine of Imam Abu Hanifa...
3  4;Baghdad;Bartha Mosque;���� �����;33.351238;4...
4  5;Baghdad;Mosque and shrine of Sheikh Abdul Qa...